.graph {
    display: block;
    margin: auto;
    overflow: visible; /* Graph layouts can clip borders. */
}

.node rect {
    fill: transparent;
}

.edge line, .edge path {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
}

.edge path.double-outer {
    stroke-width: 6;
    stroke-linecap: round;
}
.edge path.double-inner {
    stroke: white;
    stroke-width: 3.5;
    stroke-linecap: round;
}
.edge path.double-marker {
    stroke: white;
    stroke-width: 1.5;
}

#arrowhead-vee, #arrowhead-flat, #arrowhead-double {
    fill: none;
    stroke: black;
}

#arrowhead-flat {
    stroke-width: 2;
}
