.graph {
    display: block;
    margin: auto;
    overflow: visible; /* Graph layouts can clip borders. */
}

.node rect {
    fill: transparent;
}

.edge line,
.edge path {
    fill: none;
    stroke: var(--color-foreground);
    stroke-width: 1.5;
}

.edge path.double-outer {
    stroke-width: 6;
    stroke-linecap: round;
}
.edge path.double-inner {
    stroke: var(--color-background);
    stroke-width: 3.5;
    stroke-linecap: round;
}
.edge path.double-marker {
    stroke: var(--color-background);
    stroke-width: 1.5;
}

#arrowhead-vee,
#arrowhead-flat,
#arrowhead-double {
    fill: none;
    stroke: var(--color-foreground);
}

#arrowhead-flat {
    stroke-width: 2;
}
