#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app {
  display: flex;
  flex-direction: row;
}

.junctions-table input {
  background: transparent;
  border: none;
  margin: 0px;
}

td > input {
  width: 100%;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
}

input:focus {
  outline: none;
}

td, th {
  text-align: left;
  margin: 0px;
  padding: 0px;
}

td {
  border: 1px solid;
}

td.trash {
  border: none;
}

td.plus {
  border: none;
}

table {
  border-collapse: collapse;
}

ul.boxes {
  list-style-type: none;
  padding-left: 0;
}

.box-content {
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid grey;
  margin-top: 1em;
}

.box-editor {
  display: flex;
  flex-direction: row;
}

.port-table {
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 1em;
}

.port-table input {
  border: none;
  background: transparent;
}

ul.boxes > li.addbox {
  padding: 0em;
  width: fit-content;
}

select {
  background: transparent;
  width: 100%;
  border: none;
  padding: 1em;
}
