.command-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.command-list li {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
}

.command-list li.active {
    background: #f1f5f9;
}

.command-shortcut {
    font-size: 0.9em;
}

kbd.shortcut {
    display: flex;
    gap: 0.5em
}
