.morphism-decl {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1ex;
}

.morphism-decl-arrow {
    background: light-dark(var(--light-color), var(--dark-color));
    min-width: 1ex;
    height: 2px;
    border-radius: 3px;
    margin-top: 0.3em;
    margin-bottom: calc(var(--formal-font-size) + 0.3em);
    position: relative;

    &:before, &:after {
        content: "";
        background: light-dark(var(--light-color), var(--dark-color));
        position: absolute;
        height: 2px;
        width: 10px;
        border-radius: 3px;
    }

    &:before {
        right: -1px;
        bottom: -3px;
        transform: rotate(-45deg);
    }

    &:after {
        right: -1px;
        top: -3px;
        transform: rotate(45deg);
    }
}

.morphism-decl-name input {
    text-align: center;
}
