.inline-input {
    display: inline;
    border: none;
    outline: none;
    font-size: inherit;
    min-width: 1ex;
    border: 1px solid transparent;
}

.inline-input.invalid {
    border-bottom: 3px solid indianred;
}

.inline-input:hover {
    border: 1px solid lightgray;
}
