#notebook-title input {
    font-size: 3em;
    line-height: 1.1;
}

.formal-cell {
    --formal-font-size: 1.3em;

    font-size: var(--formal-font-size);
    line-height: 1.1;
}

.formal-cell input {
    font-family: var(--mono-font);
}
