/* ProseMirror CSS seems not to be documented, but see the following sources:

- https://github.com/ProseMirror/prosemirror-view/blob/master/style/prosemirror.css
- https://github.com/ProseMirror/prosemirror-example-setup/blob/master/style/style.css
*/

.ProseMirror {
    background: transparent;
}

.ProseMirror-focused {
    outline: none;
}

.ProseMirror[data-placeholder]::before {
    color: darkgray;
    position: absolute;
    content: attr(data-placeholder);
    pointer-events: none;
}
