.arrowWithName {
    min-width: 2.5ex;
}

.arrowName input {
    text-align: center;
}

.arrowContainer {
    margin-top: 0.3em;
    margin-bottom: calc(var(--formal-judgment-font-size) + 0.3em);
    position: relative;
}

.arrow {
    background: var(--color-foreground);
    min-width: 1ex;
    height: 2px;
    border-radius: 3px;
}

/* biome-ignore lint/suspicious/noEmptyBlock: need style for typechecking. */
.arrow.unmarked {
}

.arrow.default,
.arrow.plus,
.arrow.minus,
.arrow.indeterminate,
.arrow.plusCaesura,
.arrow.minusCaesura,
.arrow.scalar {
    &:before,
    &:after {
        content: "";
        background: var(--color-foreground);
        position: absolute;
        height: 2px;
        width: 10px;
        border-radius: 3px;
    }

    &:before {
        right: -1px;
        bottom: -3px;
        transform: rotate(-45deg);
    }

    &:after {
        right: -1px;
        top: -3px;
        transform: rotate(45deg);
    }
}

.arrowContainer.plus,
.arrowContainer.plusCaesura {
    &:after {
        content: "+";
        transform: none;
        position: absolute;
        right: -7.5px;
        bottom: 0px;
    }
}

.arrowContainer.minus,
.arrowContainer.minusCaesura {
    &:after {
        content: "-";
        transform: none;
        position: absolute;
        right: -7.5px;
        bottom: 0px;
    }
}

.arrowContainer.indeterminate {
    &:after {
        content: "?";
        transform: none;
        position: absolute;
        right: -7.5px;
        bottom: 0px;
    }
}

.arrowContainer.plusCaesura,
.arrowContainer.minusCaesura {
    &:before {
        content: "‖";
        position: absolute;
        transform: translate(-50%, -50%);
        top: 0;
        left: 50%;
    }
}

.arrowContainer.scalar {
    &:after {
        content: "∝";
        transform: none;
        position: absolute;
        right: -7.5px;
        bottom: 0px;
    }
}

.arrow.double,
.arrow.doubleLess,
.arrow.doubleMore {
    background: transparent;
    height: 6px;
    border-top: 2px solid var(--color-foreground);
    border-bottom: 2px solid var(--color-foreground);
    border-radius: 1px;

    &:before,
    &:after {
        content: "";
        background: var(--color-foreground);
        position: absolute;
        height: 2px;
        width: 16px;
        border-radius: 3px;
    }

    &:before {
        right: -6px;
        bottom: -1px;
        transform: rotate(-45deg);
    }

    &:after {
        right: -6px;
        top: -1px;
        transform: rotate(45deg);
    }
}

.arrow.flat:after {
    content: "";
    background: var(--color-foreground);
    position: absolute;
    border-radius: 3px;
    height: 14px;
    width: 2px;
    bottom: -6px;
    right: 0;
}
