.box {
    border: 1px solid black;
    padding: 2px;
}

.circle {
    border: 1px solid black;
	padding: 2px;
}

.cornerBox {
    border: 1px solid black;
    padding: 2px;

    /* Source: https://stackoverflow.com/a/61913549 */
    --corner: 8px;
    -webkit-mask: conic-gradient(at var(--corner) var(--corner), #0000 75%, #000 0) 0 0 /
        calc(100% - var(--corner)) calc(100% - var(--corner)), linear-gradient(#000 0 0) content-box;
}
