.box rect,
.transition rect {
    fill: white;
    stroke: black;
}

.place rect {
    fill: #e6e6ff;
    stroke: #6161ff;
    rx: 15px;
    ry: auto;
}

.link path {
    fill: none;
    stroke: blue;
    stroke-width: 1.2;
}
