.block-title-wrapper {
    display: flex;
    flex-direction: column;
}

.block-title-trigger {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font: inherit;
    padding: 0;
    max-width: 100px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 4px;
    margin-left: 4px;

    & .lucide {
        color: var(--color-gray-900);
    }
}

.block-title-trigger:hover {
    & .lucide {
        color: var(--color-foreground);
    }
}

[data-corvu-disclosure-content] {
    overflow: hidden;
}

[data-corvu-disclosure-content][data-collapsed] {
    animation: collapse 200ms linear;
}

[data-corvu-disclosure-content][data-expanded] {
    animation: expand 200ms linear;
}

@keyframes collapse {
    0% {
        height: var(--corvu-disclosure-content-height);
    }

    100% {
        height: 0px;
    }
}

@keyframes expand {
    0% {
        height: 0px;
    }

    100% {
        height: var(--corvu-disclosure-content-height);
    }
}
