.fixed-table-editor {
    background: var(--color-background);
    --border-color: var(--color-gray-450);
    --cell-padding: 5px;

    border-collapse: collapse;

    & tr {
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
    }
    & td {
        padding: var(--cell-padding);
        border-left: 1px solid var(--border-color);
    }
    & th {
        font-weight: normal;
        padding: var(--cell-padding);
    }
    & th[scope="col"] {
        font-weight: 500;
        border-right: 1px solid var(--border-color);
    }
    & th[scope="col"]:last-child {
        border-right: none;
    }
}

.fixed-table-cell-input {
    background: transparent;
    border: none;
    outline: none;
    font: inherit;

    width: 100%;
}

.fixed-table-cell-input.invalid {
    background: var(--color-form-invalid-bg);
}
