.input,
.select,
.textarea {
    font-size: inherit;
    padding: 6px;
}

.fileInput {
    border: 1px solid var(--color-gray-450);
    border-radius: 6px;
    padding: 10px;
}

.textarea {
    border: 1px solid var(--color-gray-450);
    border-radius: 6px;
    min-height: 5rem;
    resize: both;
}

.error {
    color: var(--color-form-error-text);
    font-size: smaller;
}

.formGroup {
    & dt {
        font-weight: 500;
        margin-bottom: 0.25rem;
    }
    & dd {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-left: 0;
    }
    & dd:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.compactFormGroup {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    gap: 0.25rem 1em;

    & dt {
        grid-column-start: 1;
    }

    & dd {
        grid-column-start: 2;
        margin-left: 0;
    }
}
