form input,
form select,
form textarea {
    font-size: inherit;
    padding: 6px;
}

form input[type="file"] {
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 10px;
}

form textarea {
    border: 1px solid lightgray;
    border-radius: 6px;
    min-height: 5rem;
    resize: both;
}

form .error {
    color: firebrick;
    font-size: smaller;
}

.form-group {
    & dt {
        font-weight: 500;
        margin-bottom: 0.25rem;
    }
    & dd {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-left: 0;
    }
    & dd:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.compact-form-group {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    gap: 0.25rem 1em;

    & dt {
        grid-column-start: 1;
    }

    & dd {
        grid-column-start: 2;
        margin-left: 0;
    }
}
