@import "./colors.css";

:root {
    --main-font: Inter, system-ui, Helvetica, Arial, sans-serif;
    --mono-font: Roboto Mono, monospace;

    --h1-font-size: 3em;
    --h2-font-size: 2em;
    --h3-font-size: 1.5em;
    --h4-font-size: 1.3em;

    color: var(--color-foreground);
    font-family: var(--main-font);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    font-size: var(--body-font-size);
}

#root {
    display: flex;
    flex-direction: column;
}

a {
    color: var(--color-text-secondary);
    text-decoration: underline;
    cursor: pointer;

    &[data-disabled] {
        pointer-events: none;
        text-decoration: none;
        cursor: auto;
    }
}

input,
select {
    background: var(--color-gray-100);
    border: 1px solid var(--color-gray-450);
    border-radius: 6px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}
h1 {
    font-size: var(--h1-font-size);
}
h2 {
    font-size: var(--h2-font-size);
}
h3 {
    font-size: var(--h3-font-size);
}
h4 {
    font-size: var(--h4-font-size);
}

.popup {
    background: var(--color-background);
    padding: 0.25rem;
    border: solid var(--color-gray-450) 1px;
    border-radius: 6px;
    box-shadow:
        var(--color-shadow-base) 0px 0px 0px 1px,
        var(--color-shadow-medium) 0px 3px 6px,
        var(--color-shadow-strong) 0px 9px 24px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-overlay-base);
}

.growable-container {
    flex-grow: 1;
}

.page-container {
    max-width: 52em;
    margin: 0 auto;
    padding-bottom: 10ex;
}

.side-panel {
    background: var(--color-gray-50);
}

.content-panel {
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.formal-judgment {
    --formal-judgment-font-size: 1.3em;
    font-size: var(--formal-judgment-font-size);
    line-height: 1.1;
}

.toolbar-spacer {
    /* 24px is the height of the icon buttons in the toolbar */
    height: 24px;
}
