.panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 4px;

    & .filler {
        flex: 1;
    }

    & .title {
        font-weight: 450;
    }
}
