.spinner {
    border: 4px solid var(--color-overlay-light);
    border-top-color: var(--color-gray-900);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: auto;
    animation: spin 1s linear infinite;
    will-change: transform;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
