.theory-selector {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: transparent;
    text-align: left;
    border-top: transparent;
    border-left: transparent;

    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: none;

    & input[type="radio"] {
        position: absolute;
        opacity: 0;
    }

    & label:hover {
        color: var(--color-topos-primary);
        cursor: pointer;
    }

    & .group {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    & .group-name {
        font-weight: 500;
        padding-bottom: 1px;
        opacity: 35%;
    }

    & .theory {
        margin-left: 2ex;
    }

    & .description {
        color: var(--color-text-secondary);
        font-size: 11px;
        text-align: left;
    }
}

.theory-selector-trigger-wrapper {
    display: flex;
    gap: 10px;
}
