.breadcrumb-spacer {
    padding-left: 4px;
    padding-right: 5px;
}

.breadcrumb-link {
    text-decoration: none;
}

.breadcrumb-link:hover {
    text-decoration: underline;
}

.breadcrumbs-wrapper {
    display: flex;
    align-items: center;
    padding-left: 0.5em;
}
