.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  transition: all 0.3s ease;
}

.main .content {
  /* padding: 1rem; */
  /* background-color: #f5f5f5; */
  /* height: calc(100vh - 3rem); /* adjust based on toolbar height */ */
  overflow-y: auto;
}

.sidebar {
  background-color: #f8f8f8;
  overflow: hidden;
  transition: width 0.3s ease;
  border-right: 2px solid #f0f0f0;
  color: dimgray;
}

.sidebar.open {
  width: 240px;
}

.sidebar.open .sidebar-header .icon-button {
  visibility: hidden;
}

.sidebar.open:hover .sidebar-header .icon-button {
  visibility: visible;
}

.sidebar.closed {
  width: 0;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  height: 32px;
  margin-top: 6px;
  magrin-bottom: 6x;
  border-radius: 6px;
  transition: background 20ms;
}

.sidebar-header:hover {
  /* currently there is only one other element in the header, so this hover is somewhat redundant for now */
  /* background: #f0f0f0; */
}

.toolbar {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  margin: 6px 8px;
}

.toolbar .filler {
  flex: 1;
}

.secondary-toolbar {
  position: absolute;
}

.icon-button {
  display: flex;
  align-items: center;
  height: 100%;
  color: dimgray;
  margin-right: 2px;
}

.icon-button > div {
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: background 20ms;
}

.icon-button:hover > div {
  color: black;
  background: #e8e8e8;
  cursor: pointer;
}

.related-item {
  padding: 5px 8px;
  border-radius: 6px;
  transition: background 20ms;
}

.related-item:hover {
  background: #f0f0f0;
  cursor: pointer;
}

.current-item {
  background: #f0f0f0;
}

.current-item:hover {
  background: #e8e8e8;
}
