.menu div[role="menuitem"] {
    display: flex;
    flex-direction: row;
    gap: 1ex;
    align-items: center;

    padding: 0.5ex;
    cursor: pointer;

    &[data-highlighted] {
        background: var(--color-highlight-bg);
    }

    & .lucide {
        color: var(--color-gray-800);
    }

    &[data-disabled] {
        & .lucide {
            color: var(--color-gray-600);
        }
        color: var(--color-gray-600);
        cursor: default;
    }
}
