.layout {
    display: flex;
    height: 100vh;
    width: 100vw;

    & > .content {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;

        & > header {
            flex-shrink: 0;
        }

        & > main {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
    }
}

.collapse-button {
    position: absolute;
    right: 0;
    margin: 2px;
}

.sidebar {
    flex-shrink: 0;
    background-color: var(--color-gray-50);
    overflow: hidden;
    transition: width 0.3s ease;
    border-right: 2px solid var(--color-gray-150);
    color: var(--color-gray-800);
}

.sidebar.open {
    width: 240px;
}

.sidebar.open .collapse-button {
    visibility: hidden;
}

.sidebar.open:hover .collapse-button {
    visibility: visible;
}

.sidebar.closed {
    width: 0;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px;
}

.sidebar-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 6px;
    transition: background 20ms;
}

.sidebar-header:hover {
    background: var(--color-hover-bg);
}

.toolbar {
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    margin: 6px 8px;
}

.toolbar .filler {
    flex: 1;
}

.secondary-toolbar {
    position: absolute;
    display: flex;
    gap: 2px;
}

.related-document {
    padding: 5px 8px;
    height: 30px;
    border-radius: 6px;
    transition: background 20ms;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;

    &:hover {
        background: var(--color-hover-bg);
        cursor: pointer;

        .document-actions {
            position: static;
            visibility: visible;
        }
    }

    &.active {
        background: var(--color-gray-150);

        &:hover {
            background: var(--color-hover-bg-dark);
        }
    }

    .document-name {
        flex: 1;
        overflow: hidden;
        text-wrap-mode: nowrap;
        text-overflow: ellipsis;
        padding-left: 5px;
    }

    .document-actions {
        position: absolute;
        right: 0;
        visibility: hidden;
        align-items: center;

        & {
            display: flex;
            align-items: center;
            padding: 2px;
            border-radius: 6px;

            &:hover {
                .icon-button {
                    background-color: var(--color-hover-bg-strong);
                }

                background-color: var(--color-hover-bg-strong);
            }
        }
    }
}

.resizeable-handle {
    background: none;
    border: none;
    border-left: 2px solid var(--color-gray-400);
    margin-right: -0.5rem;
}
