.toolbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px;

    & .filler {
        flex: 1;
    }

    & .lucide {
        color: var(--color-gray-800);
    }
}

@media (max-width: 1100px) {
    .toolbar {
        position: static;
    }
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    color: var(--color-gray-800);
    font-size: 1.3rem;
    text-decoration: none;

    &:hover {
        background: var(--color-hover-bg-light);
        border-radius: 5px;
    }

    & img {
        width: 24px;
        height: 24px;
    }
}
