:root {
    --main-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --mono-font: Roboto Mono, monospace;

    --main-color: black;
    --link-color: dimgray;
    --topos-color: #53b6b2;

    --h1-font-size: 3em;
    --h2-font-size: 2em;
    --h3-font-size: 1.5em;
    --h4-font-size: 1.3em;

    color: var(--main-color);
    font-family: var(--main-font);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

a {
    color: var(--link-color);
    text-decoration: underline;
}

.link-button {
    border: none;
    background-color: transparent;
    color: var(--link-color);
    font: inherit;
    text-decoration: underline;
    cursor: pointer;

    &:disabled {
        text-decoration: none;
        cursor: auto;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}
h1 {
    font-size: var(--h1-font-size);
}
h2 {
    font-size: var(--h2-font-size);
}
h3 {
    font-size: var(--h3-font-size);
}
h4 {
    font-size: var(--h4-font-size);
}

.popup {
    background: white;
    padding: 0.25em;
    border: solid lightgray 1px;
    border-radius: 6px;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px,
        rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.growable-container {
    flex-grow: 1;
}

.side-panel {
    background: #f8f8f8;
}

.content-panel {
    overflow-x: auto;
    overflow-y: hidden;
}

.formal-judgment {
    --formal-judgment-font-size: 1.3em;
    font-size: var(--formal-judgment-font-size);
    line-height: 1.1;
}
