:root {
  --main-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --mono-font: Roboto Mono, monospace;

  --light-color: black;
  --dark-color: rgba(255, 255, 255, 0.87);

  /*color-scheme: light dark;*/
  color-scheme: light;
  color: light-dark(var(--light-color), var(--dark-color));
  font-family: var(--main-font);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

.popup {
  background: white;
  padding: 0.25em;
  border: solid lightgray 1px;
  border-radius: 6px;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.growable-container {
  flex-grow: 1;
}

.content-panel {
  overflow: hidden;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 5px;

  & .lucide {
    color: dimgray;
  }
}
