.morphism-decl {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25ex;
}

.morphism-decl-name-separator {
    color: var(--color-gray-800);
    padding-left: 0.75ex;
    padding-right: 1.25ex;
}

.morphism-decl-cod-prefix {
    font-size: 0.9rem;
    margin-right: -0.5ex;
}

.morphism-decl-arrow-replacement {
    color: var(--color-gray-800);
    margin: 0 0.5ex;
}

.morphism-decl-dom-prefix {
    color: var(--color-gray-800);
    margin: 0 0.5ex;
}

.fraction {
    display: flex;
    flex-direction: column;
    text-align: center;

    .fraction-denominator {
        border-top: 1px solid black;
    }
}
