.monomial {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;

    li {
        display: flex;
        flex-direction: row;
    }
}

.delimiter {
    color: var(--color-gray-800);
    transform: scale(1, 1.5);
}

.separator {
    color: var(--color-gray-800);
}

.emptyInput {
    background: transparent;
    border: none;
    outline: none;
    width: 0.5ex;
    margin: 0;
    padding: 0;
}

.collapsed {
    cursor: text;
}

.exponent {
    font-size: 0.75em;
    line-height: 0.5ex;
}

.emptyMonomial {
    display: inline-block;
    width: 0.5ex;
}

.productSeparator {
    padding: 0.25ex;
}
