.model-instantiation-decl {
    display: flex;
    flex-direction: row;
    gap: 1ex;
    align-items: baseline;

    & .is-a:before {
        content: ":";
    }
}

.model-specializations {
    list-style: none;

    margin-left: 0.5rem;
    padding-left: 1rem;
    border-left: 2px solid var(--color-gray-450);
}

.model-specialization {
    display: flex;
    flex-direction: row;
    gap: 1ex;
    align-items: baseline;

    & .specialize-as:before {
        content: "⟵";
    }

    & .placeholder {
        color: var(--color-gray-750);
    }
}
