.model-instantiation-decl {
    display: flex;
    flex-direction: row;
    gap: 1ex;
    align-items: baseline;

    & .is-a:before {
        content: ":";
    }
}

.model-specializations {
    list-style: none;

    margin-left: 0.5rem;
    padding-left: 1rem;
    border-left: 2px solid lightgray;
}

.model-specialization {
    display: flex;
    flex-direction: row;
    gap: 1ex;
    align-items: baseline;

    & .specialize-as:before {
        content: "⟵";
    }

    & .placeholder {
        color: gray;
    }
}
