.model-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & .title {
        font-size: var(--h1-font-size);
    }

    & .theory-selector-trigger {
        font-size: var(--h4-font-size);
        flex: 1;
        text-align: right;
    }

    & .icon-button {
        flex: 0;
        margin-left: 0.5em;
    }

    & .lucide {
        color: var(--link-color);
    }
}
