.model-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & .title {
        font-size: var(--h1-font-size);
    }

    & .theory-selector-button {
        font-size: var(--h4-font-size);
        max-width: 25%;
    }
}
