.morphism-decl {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1ex;
}

.morphism-decl-name-container {
    min-width: 2.5ex;
}

.morphism-decl-name input {
    text-align: center;
}

.morphism-decl-arrow-container {
    margin-top: 0.3em;
    margin-bottom: calc(var(--formal-font-size) + 0.3em);
    position: relative;
}

.morphism-decl-arrow {
    --stroke-color: light-dark(var(--light-color), var(--dark-color));

    background: var(--stroke-color);
    min-width: 1ex;
    height: 2px;
    border-radius: 3px;
}

.morphism-decl-arrow.default, .morphism-decl-arrow.plus, .morphism-decl-arrow.minus {
    &:before, &:after {
        content: "";
        background: var(--stroke-color);
        position: absolute;
        height: 2px;
        width: 10px;
        border-radius: 3px;
    }

    &:before {
        right: -1px;
        bottom: -3px;
        transform: rotate(-45deg);
    }

    &:after {
        right: -1px;
        top: -3px;
        transform: rotate(45deg);
    }
}

.morphism-decl-arrow-container.plus {
    &:after {
        content: "+";
        transform: none;
        position: absolute;
        right: -7.5px;
        bottom: 0px;
    }
}

.morphism-decl-arrow-container.minus {
    &:after {
        content: "-";
        transform: none;
        position: absolute;
        right: -7.5px;
        bottom: 0px;
    }
}

.morphism-decl-arrow.double {
    background: transparent;
    height: 6px;
    border-top: 2px solid var(--stroke-color);
    border-bottom: 2px solid var(--stroke-color);
    border-radius: 1px;

    &:before, &:after {
        content: "";
        background: var(--stroke-color);
        position: absolute;
        height: 2px;
        width: 16px;
        border-radius: 3px;
    }

    &:before {
        right: -6px;
        bottom: -1px;
        transform: rotate(-45deg);
    }

    &:after {
        right: -6px;
        top: -1px;
        transform: rotate(45deg);
    }
}

.morphism-decl-arrow.flat:after {
    content: "";
    background: var(--stroke-color);
    position: absolute;
    border-radius: 3px;
    height: 14px;
    width: 2px;
    bottom: -6px;
    right: 0;
}
