.theory-selector {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: transparent;
    text-align: left;
    border-top: transparent;
    border-left: transparent;

    & input[type="radio"] {
        position: absolute;
        opacity: 0;
    }

    & label:hover {
        color: var(--topos-color);
        cursor: pointer;
    }

    & .group {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    & .group-name {
        font-weight: 500;
        padding-bottom: 1px;
        opacity: 35%;
    }

    & .theory {
        margin-left: 2ex;
    }

    & .description {
        color: rgb(106, 106, 106);
        font-size: 11px;
        text-align: left;
    }
}
