@import "../../frontend/src/index.css";

.annotation {
    position: relative;
}

.annotation::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: auto;
}

.annotation-added {
    border-left: 3px solid #68c58a;
    background-color: #d4ffe14f;
}

.annotation-changed {
    border-left: 3px solid #f8b62e;
    background-color: #ffefc078;
}

.annotation-deleted {
    background-color: #ffe2e2;
}

.annotation-label {
    font-size: 0.75em;
    color: darkgray;
}

.annotation-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
