.login {
    min-width: 20em;

    & form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    & form .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    & .provider-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    & .separator {
        margin: 1rem 0;
    }
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid var(--color-gray-750);
}

.separator:not(:empty)::before {
    margin-right: 0.5em;
}

.separator:not(:empty)::after {
    margin-left: 0.5em;
}

.login-gate {
    max-width: 30em;
    margin: 0 auto;
}

/* TODO: Migrate login to use the form component from ui-components and remove these styles */
.login form input,
.login form select,
.login form textarea {
    font-size: inherit;
    padding: 6px;
}

.login form input[type="file"] {
    border: 1px solid var(--color-gray-450);
    border-radius: 6px;
    padding: 10px;
}

.login form textarea {
    border: 1px solid var(--color-gray-450);
    border-radius: 6px;
    min-height: 5rem;
    resize: both;
}

.login form .error {
    color: var(--color-form-error-text);
    font-size: smaller;
}
