.permissions {
    min-width: 50ex;

    & .alert {
        font-size: smaller;
    }
}

.permission-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
}

.embed-button {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: none;
    border: none;
    padding: none;
    border-radius: 10%;
    p {
        font-family: var(--main-font);
    }
}
