.permissions {
    min-width: 50ex;

    & .alert {
        font-size: smaller;
    }
}

.permission-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
}

.permissions-button-container {
    display: flex;
}

.permissions-spacer {
    display: flex;
    flex-grow: 1;
}
