.name-user {
    display: flex;
    flex-direction: row;
    gap: 1ex;
    align-items: center;

    & .username {
        font-weight: bold;
    }

    & .display-name {
        font-size: smaller;
        color: var(--color-text-secondary);
    }
}
