.alert {
    --alert-color: black;

    box-sizing: border-box;
    border-left: 4px solid var(--alert-color);
    border-radius: 4px;
    padding: 0.75rem 0 0.1rem 1.5rem;

    & > p {
        margin-top: 0.5em;
    }
}

.alert-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    color: var(--alert-color);
    font-weight: bold;
}

.alert-warning {
    --alert-color: GoldenRod;
}

.alert-error {
    --alert-color: Maroon;
}

.alert-question {
    --alert-color: Teal;
}
