.document-picker {
    & .document-picker-search input {
        font-size: inherit;
        outline: none;
        padding: 0px 6px;
    }
}

.popup.document-picker-popup {
    display: flex;
    flex-direction: row;
    gap: 1ex;

    font-size: smaller;
    padding: 0.4rem;

    & .lucide {
        color: var(--color-gray-800);
        width: 2.5ex;
        height: 2.5ex;
    }
}

.popup.document-picker-completions {
    min-width: 280px;
    max-width: 400px;

    & .completion-icon .lucide {
        width: 18px;
        height: 18px;
    }

    & .untitled-doc {
        color: var(--color-gray-800);
    }
}
