.document-picker {
    & form input {
        outline: none;
        padding: 0px 6px;
    }
}

.popup.document-picker-popup {
    font-size: smaller;
    padding: 0.4rem;

    & .lucide {
        color: dimgray;
        width: 1em;
        height: 1em;
    }
}
