form input,
form select {
    background: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 6px 12px;
}

form input {
    font-size: larger;
}

form button[type="submit"] {
    cursor: pointer;
    color: white;
    background: #2e8b57;
    border: 1px solid darkgreen;
    border-radius: 6px;
    padding: 6px;
    font-size: larger;
}

.form-group {
    & dt {
        font-weight: 500;
        margin-bottom: 0.25rem;
    }
    & dd {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-left: 0;
        width: fit-content;
    }
    & dd:not(:last-child) {
        margin-bottom: 1rem;
    }

    & .error {
        color: firebrick;
    }
}
