form input,
form select,
form button {
    font-size: inherit;
}

form input,
form select {
    background: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 6px 12px;
}

form button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

form button[type="submit"],
form button.ok {
    color: white;
    background: #2e8b57;
    border: 1px solid darkgreen;
    border-radius: 6px;
    padding: 6px;
}

form .error {
    color: firebrick;
    font-size: smaller;
}

.form-group {
    & dt {
        font-weight: 500;
        margin-bottom: 0.25rem;
    }
    & dd {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-left: 0;
    }
    & dd:not(:last-child) {
        margin-bottom: 1rem;
    }
}
