.icon-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 1rem;

    &:hover:enabled {
        background: whitesmoke;
        border-radius: 5px;
    }
}

.tooltip-content {
    border-radius: 0.5rem;
    color: white;
    background-color: hsl(251, 9%, 23%);
    padding: 0.5rem;
    font-size: smaller;

    & p:first-child {
        margin-top: 0;
    }

    & p:last-child {
        margin-bottom: 0;
    }
}
