.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    &:hover:enabled {
        background: whitesmoke;
        border-radius: 5px;
    }
}

[data-corvu-tooltip-trigger] {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;
}

[data-corvu-tooltip-trigger]:active {
    transform: translate(0, 0.125rem);
}

[data-corvu-tooltip-content] {
    border-radius: 0.5rem;
    color: white;
    background-color: hsl(251, 9%, 23%);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
}

@keyframes enter {
    from {
        opacity: var(--tw-enter-opacity, 1);
        transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0)
            scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1))
            rotate(var(--tw-enter-rotate, 0));
    }
}

@keyframes exit {
    to {
        opacity: var(--tw-exit-opacity, 1);
        transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0)
            scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1))
            rotate(var(--tw-exit-rotate, 0));
    }
}

[data-corvu-tooltip-content][data-open] {
    animation-name: enter;
    animation-duration: 150ms;
    --tw-enter-opacity: initial;
    --tw-enter-scale: initial;
    --tw-enter-rotate: initial;
    --tw-enter-translate-x: initial;
    --tw-enter-translate-y: initial;
    --tw-enter-opacity: 0.5;
    --tw-enter-translate-y: 0.25rem;
}

[data-corvu-tooltip-content][data-closed] {
    animation-name: exit;
    animation-duration: 150ms;
    --tw-exit-opacity: initial;
    --tw-exit-scale: initial;
    --tw-exit-rotate: initial;
    --tw-exit-translate-x: initial;
    --tw-exit-translate-y: initial;
    --tw-exit-opacity: 0.5;
    --tw-exit-translate-y: 0.25rem;
}

[data-corvu-tooltip-arrow] {
    color: hsl(251, 9%, 23%);
}
