.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    &:hover:enabled {
        background: whitesmoke;
        border-radius: 5px;
    }
}

[data-corvu-tooltip-content] {
    border-radius: 0.5rem;
    color: white;
    background-color: hsl(251, 9%, 23%);
    padding: 0.5rem;
}
