.id-input.anonymous {
    background-color: color-mix(in srgb, var(--color-id-input-anonymous-base), black 10%);
    color: var(--color-background);
    font-variant-numeric: tabular-nums;

    padding: 3px;
    border-radius: 10px;
}
