.inline-input-container {
    display: inline-block;
    position: relative;
}

.inline-input-filler,
.inline-input {
    border: none;
    border-bottom: 3px solid transparent;
}

.inline-input-filler {
    display: inline-block;
    visibility: hidden;
    white-space-collapse: preserve;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 1ex;
}

.inline-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: transparent;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    font: inherit;

    &.incomplete {
        border-bottom: 3px solid sandybrown;
    }
    &.invalid {
        border-bottom: 3px solid indianred;
    }
}
