.inline-input-container {
    display: inline-block;
    position: relative;
}

.inline-input-filler, .inline-input {
    border: none;
    border-bottom: 3px solid transparent;
}

.inline-input-filler {
    display: inline-block;
    visibility: hidden;
    white-space-collapse: preserve;
    min-width: 1ex;
}

.inline-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: transparent;
    outline: none;
    padding: 0;
    font: inherit;
}

.inline-input.incomplete {
    border-bottom: 3px solid sandybrown;
}

.inline-input.invalid {
    border-bottom: 3px solid indianred;
}

.completion-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.completion-list li {
    cursor: pointer;
    padding: 5px;
}

.completion-list li.active {
    background: #f1f5f9;
}

.completion-head {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
}

.completion-description {
    font-size: 0.75em;
    color: dimgray;
}

.completion-shortcut {
    font-size: 0.9em;
}

.completion-empty {
    font-size: 0.75em;
    color: dimgray;
}

kbd.shortcut {
    display: flex;
    gap: 0.5em
}

.completions-container {
    position: absolute;
    z-index: 10;
    background: white;
    padding: 0.25em;
    border: solid dimgray 1px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px gray;
}
