#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app {
  display: flex;
  flex-direction: row;
}

.app > div {
  margin: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
  background-color: #f7f7f7;
}

.saves {
  width: 200px;
}

.workspace-table {
  width: 100%;
}

.workspace-table td {
  border: none;
}

.workspace-table a {
  cursor: pointer;
}

.display {
  width: 400px;
}

.structure-editor {
  width: 600px;
}

.junctions-table input {
  background: transparent;
  border: none;
  margin: 0px;
}

td > input {
  width: 100%;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
}

input:focus {
  outline: none;
}

td, th {
  text-align: left;
  margin: 0px;
  padding: 0px;
}

td {
  border: 1px solid;
}

td.trash {
  border: none;
}

td.plus {
  border: none;
}

table {
  border-collapse: collapse;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.newfile {
  display: flex;
  flex-direction: row;
}

.newfile > button {
  height: 100%;
  width: 100%;
  margin: 0.5em;
  padding: 0;
  flex: 1;
}

.newfile > input {
  width: 100%;
}

.box-content {
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid grey;
  margin-top: 1em;
}

.box-editor {
  display: flex;
  flex-direction: row;
}

.port-table {
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 1em;
}

.port-table input {
  border: none;
  background: transparent;
}

ul.boxes > li.addbox {
  padding: 0em;
  width: fit-content;
}

select {
  background: transparent;
  width: 100%;
  border: none;
  padding: 1em;
}
