.help-container {
    font-size: 1.05rem;

    .katex {
        font-size: 1.2rem;
    }

    /* Headers */

    & h1 {
        margin: 0.5em 0;
        font-size: 2em;
    }

    & h2 {
        font-size: 1.65em;
        margin: 1.25em 0 0.5em 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    & h3 {
        font-size: 1.3em;
        margin: 1em 0 0.5em 0;
    }

    & h4 {
        font-size: 1.1em;
        /*font-style: italic;*/
    }

    /* Links */

    & a {
        color: var(--topos-secondary);
        text-decoration: underline;
    }

    /* Lists */

    & li:not(:last-child) {
        margin-bottom: 0.2em;
    }

    & dt {
        font-weight: bold;

        & > a {
            text-decoration: none;
        }
    }
    & dd {
        margin-left: 0;
    }
    & dd:not(:last-child) {
        margin-bottom: 0.67em;
    }

    /* Navigation */

    .help-navigation {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 2em;
        border-bottom: 1px solid black;

        & > .help-navigation-title {
            font-size: 1.2em;
        }

        & > ul.help-navigation-links {
            display: flex;
            justify-content: center;
            list-style: none;

            & > li.help-navigation-link {
                margin: 0 1em;
                white-space: nowrap;
            }

            & > li.help-navigation-link a {
                text-decoration: none;
                color: var(--topos-secondary);
                font-weight: 600;
                padding: 0.3em 0.5em;
                /*border: 1px solid var(--topos-secondary);*/
                border-radius: 2px;

                &:hover {
                    background-color: var(--topos-secondary);
                    color: white;
                    transition: color .15s ease-in-out, background-color .15s ease-in-out;
                }
            }
        }
    }

    /* Analyses help boxes */
    .help-analysis-pane {
        margin-bottom: 1.5em;
        padding: 1em;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 2px;

        h3 {
            margin-top: 0;
        }

        h4 {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }
}
