.help-container {
    /* Links */

    & a {
        color: var(--topos-secondary);
        text-decoration: underline;
    }

    /* Headings */

    & h1 {
        margin: 0.5em 0;
    }
    & h1:first-child {
        /* Title heading for page. */
        margin-top: 0;
    }

    & h2 {
        margin: 1.25em 0 0.5em 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    & h3 {
        margin: 0.7em 0;
    }

    /* Lists */

    & li:not(:last-child) {
        margin-bottom: 0.2em;
    }

    & dt {
        font-weight: bold;
    }
    & dd {
        margin-left: 0;
    }
    & dd:not(:last-child) {
        margin-bottom: 0.67em;
    }
}
