:root {
  --main-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --mono-font: Roboto Mono, monospace;

  --light-color: black;
  --dark-color: rgba(255, 255, 255, 0.87);

  /*color-scheme: light dark;*/
  color-scheme: light;
  color: light-dark(var(--light-color), var(--dark-color));
  font-family: var(--main-font);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 1rem;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

.code {
    font-family: var(--mono-font);
}
