.cell {
    position: relative;
    margin: 0.25em 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.cell-gutter {
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    left: 0;

    display: flex;
    flex-direction: row;

    & .lucide {
        color: darkgray;
    }
}

.cell-tag {
    color: darkgray;
    font-size: 11pt;
}

.cell-content {
    flex-grow: 1;
    height: auto;
    max-width: 100%;
}

.drop-indicator-with-dots {
    height: 2px;
    transition: opacity 0.15s ease;
    border-radius: 1px;
    margin: 5px 0;
    position: relative;
    background: linear-gradient(270deg, transparent 0, #6b7280 100%);
}

.drop-indicator-with-dots::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #6b7280;
    /* border-radius: 50%; */
    top: -2px;
}

button.plain {
    background: transparent;
    border: none;
    color: darkgray;
    font-size: 11pt;
}
