.notebook-cells {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}

.notebook-empty {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5ex;
    margin: 1rem 0;
}

.notebook .placeholder {
    color: darkgray;
    & .lucide {
        color: darkgray;
    }
}

.notebook-cell-menu {
    border: none;
    outline: none;
    padding: 5px;

    background: white;
    border-radius: 6px;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.cell {
    position: relative;
    margin: 0.25em 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.cell-gutter {
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    left: 0;
    & .lucide {
        color: darkgray;
    }
}

.cell-tag {
    color: darkgray;
    font-size: 11pt;
}

.cell-content {
    flex-grow: 1;
    height: auto;
}
