.notebook-container {
    --gutter-width: 50px;
    max-width: calc(100ex + var(--gutter-width));
    margin: 0 auto;
    padding-left: var(--gutter-width);
    padding-right: 5px;
}

.notebook-cells {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}

.notebook-empty {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5ex;
    margin: 1rem 0;
}

.notebook .placeholder {
    color: darkgray;
}
