.editable {
    border: 2px solid transparent;
}

.editable:hover {
    border: 2px solid darkgray;

    /* Source: https://stackoverflow.com/a/61913549 */
    --corner: 8px;
    -webkit-mask:
        conic-gradient(at var(--corner) var(--corner),#0000 75%,#000 0)
        0 0/calc(100% - var(--corner)) calc(100% - var(--corner)),
        linear-gradient(#000 0 0) content-box;
}
