.inline-input {
    display: inline;
    background: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    outline: none;
    font-size: inherit;
    min-width: 1ex;
    height: fit-content;
}

.inline-input.invalid {
    border-bottom: 3px solid indianred;
}
