.notebook {
    max-width: 100ex;
    margin: 0 auto;
}

.notebook-title input {
    font-size: 3em;
    line-height: 1.1;
}

.notebook-cells {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}

.notebook-empty {
    margin: 1rem 0;
}

.notebook-empty .placeholder {
    color: darkgray;
}

.formal-cell {
    --formal-font-size: 1.3em;

    font-size: var(--formal-font-size);
    line-height: 1.1;
}

.formal-cell input {
    font-family: var(--mono-font);
}
