.model-title {
    font-size: var(--h1-font-size);
}

.model-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.model-theory select {
    appearance: none;
    border: none;
    background-color: transparent;
    color: var(--main-color);
    font-size: var(--h3-font-size);
    text-align-last: right;
}

.model-theory select:invalid {
    color: darkgray;
}


.export-button {
    font-family: var(--main-font);
    padding: 4px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px;

}

