.model-title {
    font-size: var(--h1-font-size);
}

.model-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.model-theory select {
    appearance: none;
    border: none;
    background-color: transparent;
    color: var(--main-color);
    font-size: var(--h3-font-size);
    text-align-last: right;
}

.model-theory select:invalid {
    color: darkgray;
}


.export-button {
    font-family: var(--main-font);
    color: var(--main-color);
    padding: 6px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    border: none;  
    border-radius: 3px;
    color: #53b6b2;
    background-color: #e7f2f2;
    content: "Export SVG";
    overflow: hidden;
}

/* Remove display none on hover */
.export-button:hover {
    color: #3f938f; /* Change color on hover */
}

