.theory-selector-button {
    border: none;
    font-size: 1.25em;
    padding: 16px;
    background-color: transparent;
    font-family: var(--main-font);
    cursor: pointer;
    font-weight: 500;

    &:hover {
        color: var(--topos-color);
    }
}

.theory-selector {
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: transparent;
    text-align: left;
    border-top: transparent;
    border-left: transparent;
    min-height: 30vh;

    & input[type="radio"] {
        position: absolute;
        opacity: 0;
    }

    & .division {
        font-weight: 600;
        padding-bottom: 1px;
        opacity: 35%;
    }

    & .theory {
        margin: 5px;
        padding: 5px;
    }

    & .theory:hover {
        color: var(--topos-color);
        cursor: pointer;
    }

    & .description {
        color: rgb(106, 106, 106);
        font-size: 11px;
        text-align: left;
    }
}
