.graph {
    display: block;
    margin: auto;
    overflow: visible; /* Graph layouts can clip borders. */
}

.node {
    fill: transparent;
    stroke: black;
}

.edge {
    fill: none;
    stroke: black;
}
