.graph {
    display: block;
    margin: auto;
    overflow: visible; /* Graph layouts can clip borders. */
}

.node rect {
    fill: transparent;
}

.edge line, .edge path {
    fill: none;
    stroke: black;
}
