.simulation {
    width: 100%;
    margin-bottom: 1rem;
}

.parameters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 1em;
    width: 100%;
}

.simulation .plot {
    width: 100%;
    height: 400px;
}
