name: ci

on:
  push:
    branches:
      - main
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  rust_tests:
    name: rust tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
          - beta
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Tests
        run: |
          rustup toolchain install ${{ matrix.toolchain }}
          rustup default ${{ matrix.toolchain }}

          cargo build --all-features --verbose
          cargo test --all-features --verbose

  rust_formatting:
    name: rust formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain from file
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
          components: rustfmt

      - name: Check formatting
        run: |
          cargo fmt --check -- --config=normalize_comments=true

  rust_lints:
    name: rust lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain from file
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Check clippy warnings
        run: |
          cargo clippy -- -D warnings

  rust_docs:
    name: rust docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain from file
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Check rustdoc warnings
        run: |
          RUSTDOCFLAGS='--deny warnings' cargo doc --no-deps

  backend_dev_setup:
    name: backend dev setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain from file
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0
        with:
          version: 'v0.13.1'

      - name: Run dev setup
        run: |
            docker run --name catcolab-postgres -e POSTGRES_USER=postgres-user -e POSTGRES_PASSWORD=password -e POSTGRES_DB=catcolab -p 5432:5432 -d postgres:15
            cd packages/notebook-types
            pnpm run build:node
            cd ../automerge-doc-server
            pnpm install
            cd ../backend
            cp .env.development .env && cp .env.development ../migrator/.env
            # due to how we are detecting deploy vs dev we need to clear this env variable
            unset INVOCATION_ID
            cargo run -p migrator apply

  npm_checks:
    name: npm checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install NodeJS dependencies
        run: |
          pnpm install

      - name: Format/linting/import sorting
        run: |
          pnpm --filter "./packages/*" run ci

  build_nixos_system:
    name: build NixOS system
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Install Nix
      uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:25.05

    - name: Configure Cachix
      uses: cachix/cachix-action@v14
      with:
        name: catcolab-jmoggr
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    - name: Build the NixOS system for catcolab-next
      run: nix build .#nixosConfigurations.catcolab-next.config.system.build.toplevel

  frontend_tests_with_backend:
    name: frontend tests with backend
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Nix
      uses: cachix/install-nix-action@v25
      with:
        # XXX: There is an issue building nix inside a virtualized environment,
        # the nix build command for the vm exits with error: "error: path
        # '/nix/store/9y7z0wj024np8zrhwvpz6ph6ksckiwgy-linux-6.12.20-modules-shrunk/lib' is not in the
        # Nix store". Using a more version of the Nix package manager seems to fix this. We can probably
        # remove this workaround when we move to NixOS 25.11
        # https://discourse.nixos.org/t/issue-building-linux-kernel-modules-after-flake-update/62322
        install_url: https://releases.nixos.org/nix/nix-2.29.2/install
        nix_path: nixpkgs=channel:25.05

    - name: Configure Cachix
      uses: cachix/cachix-action@v14
      with:
        name: catcolab-jmoggr
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    - name: Enable KVM group perms
      run: |
        echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
        sudo udevadm control --reload-rules
        sudo udevadm trigger --name-match=kvm

    - name: Run frontend tests with VM
      run: |
        nix build .#checks.x86_64-linux.frontendTests -L

