name: ci

on:
    push:
        branches:
            - main
    pull_request:

env:
    CARGO_TERM_COLOR: always

jobs:
    rust_tests:
        name: rust tests
        runs-on: ubuntu-latest
        strategy:
            matrix:
                toolchain:
                    - stable
                    - beta
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Tests
              run: |
                  rustup toolchain install ${{ matrix.toolchain }}
                  rustup default ${{ matrix.toolchain }}

                  cargo build --all-features --verbose
                  cargo test --all-features --verbose

    rust_formatting:
        name: rust formatting
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Install Rust toolchain from file
              uses: actions-rust-lang/setup-rust-toolchain@v1
              with:
                  components: rustfmt
                  toolchain: nightly-2025-09-20

            - name: Check formatting
              run: |
                  cargo fmt --check -- --config=normalize_comments=true

    rust_lints:
        name: rust lints
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Install Rust toolchain from file
              uses: actions-rust-lang/setup-rust-toolchain@v1

            - name: Check clippy warnings
              run: |
                  cargo clippy -- -D warnings

    rust_docs:
        name: rust docs
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Install Rust toolchain from file
              uses: actions-rust-lang/setup-rust-toolchain@v1

            - name: Check rustdoc warnings
              run: |
                  RUSTDOCFLAGS='--deny warnings' cargo doc --no-deps

    npm_checks:
        name: npm checks
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup pnpm
              uses: pnpm/action-setup@v4

            - name: Setup NodeJS
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "pnpm"

            - name: Install NodeJS dependencies
              run: |
                  pnpm install

            - name: Format/linting/import sorting
              run: |
                  pnpm --filter "./packages/*" run ci
